<div class="card">
    <h2 class="card-header">Edit Your Post</h2>
    <form class="card-body edit-form">

      <div class="form-group">
        <label class="form-label">Title:</label>
        <input type="text" class="form-input" name="post-title" value="{{post.title}}"/>
      </div>

 