<div class="card flex-column">
    <h2 class="card-header">Enter in your username and password to log in</h2>
    <form id="login-form" class="card-body">
        <div class="mb-6">
            <label for="username" class="form-label">Username</label>
            <input placeholder="Enter username" type="username" class="form-control" id="username-login">
            <div id="usernameHelp" class="form-text">Please enter in your email.</div>
        </div>

        <div class="mb-6">
            <label for="password" class="form-label">Password</label>
            <input placeholder="Enter password" type="password" class="form-control" id="password-login">
            <div id="passwordHelp" class="form-text">Must be atleast 4 digits long.</div>
        </div>